extends layout

block content
  h2 #{tabvelo.name}
  div
    ul.aff
      li.aff='Adresse: '+tabvelo.address
      if tabvelo.status == 'OPEN'
        li.aff='Station ouverte'
      else
        li.aff='Station fermé'
      if tabvelo.banking == true
        li.aff='Paiement par CB : disponible'
      else
        li.aff='Paiement par CB : non disponible'
      li.aff='Vélo disponible: '+tabvelo.available_bikes
      li.aff='Emplacement libre: '+tabvelo.available_bike_stands
  h2 Parking et Travaux aux alentours
  - each res in tabparking
    div
      ul.aff
        li.aff='Parking '+res.nom
        li.aff='Adresse: '+res.adresse
        if res.places == null
          li.aff='Parking fermé'
        else
          li.aff='Parking ouvert'
          li.aff='Place disponible: '+res.places
  - each r in tabtravaux
    div
      ul.aff
        li.aff='Travaux aux '+r.adresse
        if r.descr_gene1!=null
          li.aff='description: '+r.descr_gene1
        if r.descr_gene2!=null
          li.aff=r.descr_gene2
        if r.descr_gene3!=null
          li.aff=r.descr_gene3
