extends layout

block content
  h1 Parking de Nancy
  - each result in tab
    div
      ul.aff
        li.aff='Parking '+result.nom
        li.aff='Adresse: '+result.adresse
        if result.places == null
          li.aff='Parking fermé'
        else
          li.aff='Parking ouvert'
          li.aff='Place disponible: '+result.places
          form.ajout(method='POST', action='/detailp')
            input(type='hidden', name='id', value=result.id)
            input.adj.inp(type='submit' value='DETAIL')
