extends layout

block content
  h1 Station vélo de Nancy
  - each result in tab
    div
      ul.aff
        li.aff='Station: '+result.name
        li.aff='Adresse: '+result.address
        if result.status == 'OPEN'
          li.aff='Station ouverte'
        else
          li.aff='Station fermé'
        if result.banking == true
          li.aff='Paiement par CB : disponible'
        else
          li.aff='Paiement par CB : non disponible'
        li.aff='Vélo disponible: '+result.available_bikes
        li.aff='Emplacement libre: '+result.available_bike_stands
        form.ajout(method='POST', action='/details')
          input(type='hidden', name='id', value=result.number)
          input.adj.inp(type='submit' value='DETAIL')
