extends layout

block content
  h1 Station vélo de Nancy
  - each result in tab
    div
      ul
        li='Station: '+result.name
        li='Adresse: '+result.address
        if result.status == 'OPEN'
          li='Station ouverte'
        else
          li='Station fermé'
        if result.banking == true
          li='Paiement par CB : disponible'
        else
          li='Paiement par CB : non disponible'
        li='Vélo disponible: '+result.available_bikes
        li='Emplacement libre: '+result.available_bike_stands
        form.ajout(method='POST', action='/details')
          input(type='hidden', name='id', value=result.number)
          input.adj.inp(type='submit' value='DETAIL')
